<app-container>
    <app-encabezado></app-encabezado>
    <input 
      type="search"
      placeholder="Digita lo que buscas"
      [(ngModel)]="filtroTexto"
    />

    <section class="agregar-contacto">
        <button routerLink="/formulario">
            <img src="icon.svg" alt="">
            <span>Agregar nuevo contacto</span>
        </button>
    </section>

    @for(letra of alfabeto; track letra){
      <app-separador>{{letra}}</app-separador>
  
      @for(contacto of filtrarContactosPorLetraInicial(letra); track contacto.id ){
      <app-contacto [nombre]="contacto.nombre" [telefono]="contacto.telefono"></app-contacto>
      }
    }
  
  </app-container>