<app-container>
    <app-encabezado
      [bannerSrc]="'agregar-contacto.png'"
      [titulo]="'Agregar nuevo contacto'">
    </app-encabezado>
    <form [formGroup]="contactoForm" (ngSubmit)="guardarContacto()">
        <div role="button" class="imagen-contacto">
            <i class="material-icons">add</i>
            <label for="avatar">Agregar la imagen del contacto</label>
            <input
            type="file"
            accept="image/*"
            id="avatar"
            required
            (change)="seleccionarArchivo($event)"
            >
        </div>
        @if(contactoForm.get('avatar')?.value !==''){
            <figure>
                <img [src]="contactoForm.get('avatar')?.value" alt="Imagen del contacto">
            </figure>
        }
        <label for="nombre">Nombre</label>
        <input 
            formControlName="nombre"
            type="text"
            id="nombre"
            placeholder="Digita el nombre del contacto">
            <app-mensaje-error [control]="obtenerControl('nombre')"></app-mensaje-error>

            
        <label for="telefono">Telefono</label>
        <input 
            formControlName="telefono"
            type="text"
            id="telefono"
            placeholder="Digita el telefono del contacto">
            <app-mensaje-error [control]="obtenerControl('telefono')"></app-mensaje-error>

        <label for="email">Email</label>
        <input 
            formControlName="email"
            type="email"
            id="email"
            placeholder="Digita el email del contacto">
            <app-mensaje-error [control]="obtenerControl('email')"></app-mensaje-error>

            <app-separador></app-separador>
            <label for="cumpleano">Cumpleaño</label>
            <input 
                formControlName="cumpleano"
                type="date"
                id="cumpleano"
                placeholder="Digita la fecha de nacimiento del contacto">
            <label for="redes">Redes sociales</label>
            <div class="input-container ">
                <span class="span-http">http://</span>
                <input 
                    type="text"
                    formControlName="redes"
                    >
            </div>
            
        <label for="observaciones">Observaciones</label>
        <textarea 
            name="observaciones" 
            id="observaciones"
            formControlName="observaciones"
            ></textarea>

        <section class="botones">

            <button (click)="cancelar()" class="boton-cancelar" type="button">Cancelar</button>
            <button 
                type="submit"
                [disabled]="contactoForm.invalid"
                [ngClass]="contactoForm.valid ?'boton-guardar':'boton-deshabilitado'"> Guardar contacto</button>
        </section>
    </form>
</app-container>
